/* .splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.8;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* JUMBOTRON */
.jumbotron {
    background-image: url('../img/bg-1.png');
    background-color:black;
    background-size: cover;
    height: 650px;
    margin-top: -50px;
    text-align: center;
    position: relative;
     
}

.jumbotron .container {
    z-index: 1;
    position: relative;
    }

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-3 {
    color: white;
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    position: relative;
    top: 50px;
}
.jumbotron .container .image{
    margin-top: 80px;
}

.jumbotron .display-3 span {
    font-weight: bold;
}

/* JUMBOTRON1------------------------------------------------------ */
.jumbotron1 {
    background-image: url('../img/bg-2.png');
    background-size: cover;
    height: 1100px;
    text-align: center;
    position: relative;
    top: -470px;
}

.jumbotron1 .container {
    z-index: 1;
    position: relative;
}

.jumbotron1::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron1 .display-3 {
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    position: relative;
    top: 200px;
}
.jumbotron1 .display-4 {
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    position: relative;
    top: 230px;
   }


   .jumbotron1 .prokes {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
       width: 80%;
       top: 250px;
       position: relative;
    }


/* Info */
.info {
    font-family: 'Akaya Kanadaka', cursive;
    margin: auto;
    padding: auto;
    z-index: 1;
    position: relative;
    top: -200px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: whitesmoke;
    padding: 30px;
}

.info img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info p {
    font-size: 14px;
    margin-top: -5px;
    font-weight: 2500px;
}

/* UTILTITY */
.tombol .btn{
    margin-top: 50px;
    text-align: center;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

/* TESTIMONI */
.container .testimoni {
    position: rabsolute;
    text-align: center;
    margin-top: -650px;
 }
.container .testimoni img {
     width: 100px;
     margin: auto;
     padding: auto;
}

h5{
    font-family: 'KoHo';
    color: whitesmoke;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}






/* DESKTOP VERSION -------------------------------------*/

@media (min-width: 992px) {

       .jumbotron {
        margin-top: -75px;
        height: 750px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
    .jumbotron .display-5 {
        font-size: 25px;
    }

    .jumbotron1 {
        background-image: url('../img/jumbotron-bg2.jpg');
        background-size: cover;
        height: 500px;
        text-align: center;
        position: relative;
        top: -230px;
    }

    .info {
        margin: auto;
        padding: auto;
        position: relative;
        top: -150px;
   }
    .container .testimoni{
        position: relative;
        text-align: center;
    }    
    .container .testimoni img{
      width: 50%;
      margin-top: 50px;
    }   
    
    .tombol .btn{
        margin-top: 70px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 40px;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    }

    .icon {
        position: relative;
        width: 200px;
        top: -200px;
    }      
}

/* _______________ */
@media (min-width: 375px) {

    .jumbotron {
     margin-top: -50px;
     height: 750px;
    }

     .info {
        margin: auto;
        padding: auto;
        z-index: 1;
        position: relative;
        top: -275px;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        background-color: whitesmoke;
        padding: 30px;
     }
        .container .testimoni {
            position: rabsolute;
            text-align: center;
            margin-top: -700px;
         }
        .container .testimoni img {
             width: 100px;
             margin: auto;
             padding: auto;
        }
        
        h5{
            font-family: 'KoHo';
            color: whitesmoke;
            margin-top: 10px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }  
        .jumbotron1 {
            background-image: url('../img/bg-2.png');
            background-size: cover;
            height: 1000px;
            text-align: center;
            position: relative;
            top: -470px;
        }

        .jumbotron1::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            position: absolute;
            bottom: 0;
        }
        
        .jumbotron1 .display-3 {
            color: white;
            font-family: 'Akaya Kanadaka', cursive;
            font-weight: 150px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
            font-size: 16px;
            position: relative;
            top: 200px;
        }
        .jumbotron1 .display-4 {
            color: white;
            font-family: 'Akaya Kanadaka', cursive;
            font-weight: 150px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
            font-size: 16px;
            position: relative;
            top: 230px;
           }
        
}
 
@media (min-width: 414px) {

    .jumbotron {
     margin-top: -50px;
     height: 750px;
    }
     .jumbotron1::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }
    
    .jumbotron1 .display-3 {
        color: white;
        font-family: 'Akaya Kanadaka', cursive;
        font-weight: 150px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        position: relative;
        top: 200px;
    }
    .jumbotron1 .display-4 {
        color: white;
        font-family: 'Akaya Kanadaka', cursive;
        font-weight: 150px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        position: relative;
        top: 230px;
       }
    
 }